body {
    color: aqua;
    font-size: large;
}
.contact-right form{
    width: 50%;
}
form input,form textarea{
    width: 50%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;

}
form.btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 10px;
    cursor: pointer;
}
